@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />

<div class="main_container padding_top_1rem">
        <div class="list_header">
            <h3>Zaloguj się na konto biblioteki</h3>
        </div>
            <div class="form_div_login">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class ="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control text-black" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label text-black">Login:</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control  text-black" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label  text-black">Hasło:</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="login_checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input darkText" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div class="button_login">
                        <button class="action-login-button action-default" id="registerSubmit" type="submit" style="width:50%; left:25%;position: relative;">Zaloguj się</button>
                    </div>
                    <div style="text-align:center">
                        <p>
                            <a class="optionsLoginText" id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
                        </p>
                        <p>
                    <a class="optionsLoginText" asp-page="./ReaderRegister" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj się</a>
                        </p>
                        <p>
                    <a class="optionsLoginText" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Wyślij potwierdzenie na email</a>
                        </p>
                


                    </div>
                </form>
                <div style="text-align: center; font-weight: bold;">
                    <p>
                        Alternatywne sposoby logowania:
                    </p>
                    
                </div>
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div style="text-align: center;">
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button style="align-self: center;" type="submit" class="action-login-button action-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <i class="fa-brands fa-google fa-bounce" style="--fa-animation-duration: 2s; --fa-animation-iteration-count: 1;"></i>
                                        Login with @provider.DisplayName
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
            </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}