@page
@model ReaderRegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />

<div class="main_container padding_top_1rem">
        <div class="list_header">
            <h3>Zarejestruj się</h3>
        </div>
            <div class="form_div_register">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.name" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.name" class="form-label text-black">Imię</label>
                        <span asp-validation-for="Input.name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.surname" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.surname" class="form-label text-black">Nazwisko</label>
                        <span asp-validation-for="Input.surname" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.birthDate" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.birthDate" class="form-label text-black">Data urodzenia</label>
                        <span asp-validation-for="Input.birthDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label text-black">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label text-black">Hasło</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword" class="form-label text-black">Potwierdź hasło</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.image" class="control-label"></label>
                        <input asp-for="Input.image" class="form-control" />
                        <span asp-validation-for="Input.image" class="text-danger"></span>
                    </div>
                    <div class="button_register">
                <button class="action-login-button action-default" id="registerSubmit" type="submit" style="width:50%; left:25%;position: relative;">Zarejestruj się</button>
                    </div>
            
                </form>
                <div style="text-align: center;">
                    <p style="margin-top: 20px; font-weight:bold;">
                        Alternatywne metody rejestracji
                    </p>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="action-login-button action-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa-brands fa-google fa-bounce" style="--fa-animation-duration: 2s; --fa-animation-iteration-count: 1;"></i> Zarejestruj się z @provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
                </div>
            </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
