@page
@model Biblioteka.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<partial name="_UnderHeaderDelete" />
<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Events/form.css" asp-append-version="true" />
<div class="main_container">


            <div class="proper-form">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Event.name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Event.name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Event.description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Event.description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Event.eventDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Event.eventDate)
                    </dd>
                </dl>

                <form method="post">
                    <input type="hidden" asp-for="Event.eventId" />
                    <input type="submit" value="Usuń" class="action-button action-delete" />
                    <button class="action-button action-default"><a class="lightText" asp-page="./Index">Wróć</a></button>
                </form>
            </div>
        </div>
    </div>
</div>
