@page
@model Biblioteka.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<partial name="_UnderHeaderDetails" />
<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Events/form.css" asp-append-version="true" />
<div class="main_container">



            <div class="proper-form">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Event.name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Event.name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Event.description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Event.description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Event.eventDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Event.eventDate)
                    </dd>
                </dl>
                <div class="form_buttons">
                    <button class="action-button action-details">
                        <a class="lightText" asp-page="./Edit" asp-route-id="@Model.Event?.eventId">Edytuj</a>
                    </button>
                    <button class="action-button action-default">
                        <a class="lightText" asp-page="./Index">Wróć</a>
                    </button>
                </div>
            </div>
        
</div>

