@page
@model Biblioteka.Pages.Publishers.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Publisers/Index.css" asp-append-version="true" />
<div class="under-header">
    <h3>Wydawnictwa</i>
</div>
<div class="main-container">
    <div class="two-columns">
        <div class="column">
            @if (Model.Publisher.Any())
            {
                        <div class="search-bar">
                                <form method="get" asp-page="./Index">
                                    <input  class="no-input" ype="text" placeholder="Wyszukaj wydawnictwo" name="publisherName">
                                    <button type="submit" class="no-button">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                        </div>
            }
        </div>
        <div class="column">
             <button class="button-green">
                    <a class="text-light" asp-page="Create">Dodaj nowe wydawnictwo</a>
             </button>
         </div>
    </div>
<div class="vertical container">
        <table class="simple-table">
            <thead>
                <tr>
                    <th>
            @Html.DisplayNameFor(model => model.Publisher[0].name)
                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.Publisher[0].description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Publisher)
            {
                                <tr>
                                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                                                            <td>
                            @Html.DisplayFor(modelItem => item.description)
                                        </td>
                                    <td>
                                            <button class="button-green2"><a class="text-light" asp-page="./Edit" asp-route-id="@item.publisherId">Edytuj</a></button>
                                            <button class="button-red"><a class="text-light" asp-page="./Delete" asp-route-id="@item.publisherId">Usuń</a></button>
                                    </td>
                                </tr>
            }
                    </tbody>
        </table>
    </div>
</div>
</div>