@page
@model Biblioteka.Pages.Authors.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" />


    <div class="page-container-horizontal">
        <div class="cover">
            <img src="~/images/@(Model.Author.image != null ? $"covers/{Model.Author.authorId}.jpg" : "user_photo.jpg")" alt="Author Photo" />
        </div>
        <div class="book-data">
            <h1>@Html.DisplayFor(model => model.Author.FullName)</h1>
            <div class="vertical">
            <p><strong>Adres email:</strong> @Html.DisplayFor(model => model.Author.email)</p>
            <p><strong>Kraj pochodzenia:</strong> @Html.DisplayFor(model => model.Author.country)</p>
            <p><strong>Data urodzenia:</strong> @Html.DisplayFor(model => model.Author.birthDate)</p>
            <p><strong>Pseudonim:</strong> @Html.DisplayFor(model => model.Author.nickname)</p>
            <p><strong>Opis:</strong> @Html.DisplayFor(model => model.Author.description)</p>
            </div>
        <div class="form_buttons">
            <div class="form-group">
                <button class="action-button action-default"><a class="lightText" asp-page="./Edit" asp-route-id="@Model.Author.authorId">Edytuj</a></button>
            </div>
            <div>
                <button class="action-button action-default"><a class="lightText" asp-page="./Index">Wróć</a></button>
            </div>
        </div>
    </div>
    </div>

