@page
@model Biblioteka.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Index";
}
@using Biblioteka.Repositories

<link rel="stylesheet" href="~/css/Authors/Index.css" asp-append-version="true" />
<div class="under-header">
    <h3>Autorzy</h3>
</div>
<div class="main-container">
<div class="two-columns">
        <div class="column">
             <button class="button-green">
                    <a class="text-light" asp-page="Create">Dodaj nowego autora</a>
             </button>
         </div>
        <div class="column">
             <button class="button-green">
                    <a class="text-light" asp-page="AddAuthor">Nadaj prawa autora</a>
             </button>
         </div>
</div>
<div class="vertical container">
        <table class="simple-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Author[0].name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Author[0].surname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Author[0].birthDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Author[0].country)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Author[0].nickname)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Author)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.surname)
                                </td>
                                <td>
                                    @item.birthDate.ToString("yyyy-MM-dd")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.country)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nickname)
                                </td>
                                <td>
                                         <button class="button-green2"><a class="lightText" asp-page="./Edit" asp-route-id="@item.authorId">Edytuj</a></button>
                                          <button class="button-green2"><a class="lightText" asp-page="./Details" asp-route-id="@item.authorId">Detale</a></button>
                                    <button class="button-red"><a class="lightText" asp-page="./Delete" asp-route-id="@item.authorId">Usuń</a></button>
                                         
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>