@page
@model Biblioteka.Pages.Borrowings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h1>Usunięcie wypożyczenia</h1>
        </div>
        <div class="form_div">
            <div class="form_div_login">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Borrowing.borrowDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Borrowing.borrowDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Borrowing.plannedReturnDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Borrowing.plannedReturnDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Borrowing.returnDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Borrowing.returnDate)
                    </dd>
                </dl>

                <form method="post">
                    <input type="hidden" asp-for="Borrowing.borrowId" />
                    <input type="submit" value="Usuń" class="button buttonRed" />
                    <button class="button buttonDefault">
                        <a class="lightText" asp-page="./IndexReader">Wróć</a>
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>


