@page
@model Biblioteka.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Employees/index.css" asp-append-version="true" />

<div>
    <partial name="_UnderHeaderEmployees" />

    <div class="search_div">
        <form method="get" asp-page="./Index">
            <input type="text" placeholder="Wyszukaj pracownika" name="SearchTerm" value="@Model.SearchTerm">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <dialog id="delete_employee_dialog">
        <i class="fa-solid fa-circle-xmark dialog-exit"></i>
        <form method="post" asp-page-handler="DeleteEmployee">
            <input type="hidden" name="employeeId" value="1">
            <p class="dialog_header">Usuwanie pracownika</p>
            <p class="dialog_content">Czy napewno chcesz usunąć tego pracownika ?</p>
            <div class="d-flex flex-row justify-content-center align-items-center">
                <button type="button" class="action-button action-cancel"><i class="fa-solid fa-xmark"></i>Anuluj</button>
                <button type="submit" class="action-button action-delete"><i class="fa-solid fa-trash-can"></i>Usuń</button>
            </div>
        </form>
    </dialog>

    <div class="move_right">
        <button class="button buttonDefault addNewBookButton">
            <a class="nav-link lightText" asp-page="Create">Dodaj nowego pracownika</a>
        </button>
    </div>

    <div class="table_div table-responsive">
        <table class="table table-striped text-center">
            <thead class="table-header-style">
                <tr>
                    <th class="align-middle">
                        @Html.DisplayNameFor(model => model.Employee[0].name)
                    </th>
                    <th class="align-middle">
                        @Html.DisplayNameFor(model => model.Employee[0].surname)
                    </th>
                    <th class="align-middle">
                        @Html.DisplayNameFor(model => model.Employee[0].dateOfEmployment)
                    </th>
                    <th class="align-middle">Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employee)
                {
                    <tr>
                        <td class="align-middle td_employee_name">
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td class="align-middle td_employee_surname">
                            @Html.DisplayFor(modelItem => item.surname)
                        </td>
                        <td class="align-middle td_employment_date">
                            @item.dateOfEmployment.ToString("dd.MM.yyyy")
                        </td>
                        <td class="align-middle">
                            @if (item.employeeData == null)
                            {
                                <button class="button buttonGreen"><a class="lightText" asp-page="../EmployeeExtraData/Create" asp-route-id="@item.employeeId">Dodaj dane szczegółowe</a></button>
                            }
                            <button class="button buttonYellow"><a class="lightText" asp-page="./Details" asp-route-id="@item.employeeId">Szczegóły</a></button>
                            <button class="action-button action-delete"><i class="fa-solid fa-trash-can"></i>Usuń<p class="hidden-employeeId">@item.employeeId</p></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (!Model.Employee.Any())
        {
            // handle empty list 
        }
    </div>
    @{
        if (TempData["Message"] != null)
        {
            <div class="notification_div">
                @if (TempData["Message"]?.ToString()?.Split("/")[0] == "Success")
                {
                    <div>
                        <i class="fa-solid fa-check success_notification_icon"></i>
                    </div>
                }
                else
                {
                    <div>
                        <i class="fa-solid fa-circle-exclamation error_notification_icon"></i>
                    </div>
                }
                <div class="notification-content">
                    @if (TempData["Message"]?.ToString()?.Split("/")[0] == "Success")
                    {
                        <p class="notification-header-success">Sukces!</p>
                    }
                    else
                    {
                        <p class="notification-header-error">Błąd!</p>
                    }
                    <p class="notification-message">@TempData["Message"]?.ToString()?.Split("/")[1]</p>
                </div>
                <div class="hide-notification">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
        }
    }

</div>
<script src="~/js/Employees/ModalDialogRunner.js"></script>
<script src="~/js/Borrowing/Notification.js"></script>