@page
@model Biblioteka.Views.Books.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="main_container">
    <div class="inner_container">
        <div class="list_header">
            <h3>Napewno chcesz usunąć ten element?</h3>
        </div>
        <div class="form_div">
            <div class="form_div_login">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Book.title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Book.title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Book.ISBN)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Book.ISBN)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Book.description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Book.description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Book.availableCopys)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Book.availableCopys)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Book.releaseDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Book.releaseDate)
                    </dd>
                </dl>

                <form method="post">
                    <input type="hidden" asp-for="Book.bookId" />
                    <input type="submit" value="Usuń" class="button buttonRed" />
                    <button class="button buttonDefault"><a class="lightText" asp-page="./Index">Wróć</a></button>
                </form>
            </div>
        </div>
    </div>
</div>
