@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@model Biblioteka.Views.Books.DetailsModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BibUser> SignInManager
@inject UserManager<BibUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/Books/details.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Shared/action_buttons.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Shared/notification_style.css" asp-append-version="true" />

<article class="container-width">
    <dialog id="borrowing_dialog">
        <i class="fa-solid fa-circle-xmark dialog-exit"></i>
        <form method="post" asp-page-handler="AddBorrowing">
            <input type="hidden" name="bookId" value="1"/>
            <p class="dialog_header">Wypożyczenie książki</p>
            <p class="dialog_content">Aby wypożyczyć książkę podaj datę przewidywanego zwrotu:</p>
            <div class="form-floating w-100 predicted_end_date_input">
                <input type="date" asp-for="Input.predictedEndDate" class="form-control" aria-required="true" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddMonths(6).ToString("yyyy-MM-dd")" />
                <label asp-for="Input.predictedEndDate"></label>
                <span asp-validation-for="Input.predictedEndDate" class="text-danger"></span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center">
                <button type="button" class="action-button action-cancel"><i class="fa-solid fa-xmark"></i>Anuluj</button>
                <button type="submit" class="action-button action-confirm"><i class="fa-solid fa-check"></i>Wypożycz</button>
            </div>
        </form>
    </dialog>
    <div class="page-container-horizontal">
        <div class="cover">
            <img src="@Url.Page("Details", "CoverImage", new { id = Model.Book.bookId })" alt="Okładka książki @Model.Book.title" />
        </div>
        <div class="book-data">
            <div>
             <h1 class="book_title">@Html.DisplayFor(model => model.Book.title)</h1>


            </div>
            <div class="vertical">
               <i class="label_book">@Html.DisplayNameFor(model => model.Book.releaseDate): &ensp; </i> 
               <i class="info_book">@Html.DisplayFor(model => model.Book.releaseDate) &ensp;</i> 
               <i class="label_book">@Html.DisplayNameFor(model => model.Book.availableCopys): &ensp; </i> 
                <i class="info_book">@Html.DisplayFor(model => model.Book.availableCopys)</i>
            </div>

            <div class="destrpition">
                <i >@Html.DisplayFor(model => model.Book.description)</i>
            </div>
        </div>
    </div>
    <div class="main_details_buttons">
        @if (Model.bookModel.ebookData != null)
        {
            @*<div>
                 <a href=@Url.Page("Details", "DownloadPDF", new { id = Model.Book?.bookId}) class="red-button2">Pobierz ebook</a>

            </div>*@

            <div class="mt-3" style="margin-bottom: 20px;">
                <a href=@Url.Page("Details", "Preview", new { id = Model.Book?.bookId}) class="button buttonGreen lightText">Podglad ebooka</a>
                <a href=@Url.Page("Details", "DownloadPDF", new { id = Model.Book?.bookId}) class="button buttonGreen lightText">Pobierz ebook</a>     
            </div>
        }
        else
        {
            <div>
                <button class="default_button action-cancel m-0" disabled>Ebook niedostępny</button>
            </div>
        }

        @if (Model.bookModel.audiobookData != null)
        {
            <div >
                 <a href=@Url.Page("Details", "DownloadMP3", new { id = Model.Book?.bookId}) class="red-button3">Pobierz audiobook</a>
            </div>
        }
        else
        {
            <div >
                <button class="default_button action-cancel m-0" disabled>Audiobook niedostępny</button>
            </div>
        }
        @if (User.Identity.IsAuthenticated && (User.IsInRole("Reader")))
    {
        @if(Model.bookModel.availableCopys > 0)
        {
            <div>
                <button class="default_button action-confirm book_borrow_btn">Wypożycz</button>
            </div>
        }
        else
        {
            <div>
                <button class="default_button action-cancel m-0" disabled>Brak książki</button>
            </div>
            }
        }
        else
        {
                <div>
                        <button class="default_button book_borrow_btn" disabled>Wypożycz</button>
                </div>
        }

    </div>
            
    @if (User.Identity.IsAuthenticated && (User.IsInRole("Employee") || User.IsInRole("Admin")))
    {
        <div class="page-container-vertical">
            <a asp-page="./Edit" asp-route-id="@Model.Book?.bookId">
                <div class="red-button2">Edytuj</div>
            </a>
            <a asp-page="./Delete" asp-route-id="@Model.Book?.bookId">
                <div class="red-button3">Usun</div>
            </a>
        </div>
    }
    @if (Model.Authors != null && Model.Authors.Count > 0)
    {
        <div class="page-container-horizontal2">
            <br />
            @if (Model.Authors.Count == 1)
            {
                <h2>@Html.DisplayName("Autor")</h2>
                       
            }
            else if (Model.Authors != null && Model.Authors.Count > 1)
            {
                <h2>@Html.DisplayName("Autorzy")</h2> 
            }
            <p class="data">
                @foreach (var authors in Model.Authors)
                {
                    <span>@authors.name @authors.surname</span>
                } 
            </p>
        </div>  
    }
    <div class="page-container-horizontal2">
        <div>
            <br />
            <h2 >Lokalizacja książki w bibliotece</h2>
            @if (Model.Book.availableCopys == 0)
            {
                    <span>(Obecnie nie ma książki w bibliotece, to będzie jej lokalizacja, jeżeli znowu będzie dostępna.) </span>
            }
            else
            {
                <div class="vertical">
                        <i class="label_book">@Html.DisplayNameFor(model => model.Book.floor): &ensp; </i> 
                        <i class="info_book">@Html.DisplayFor(model => model.Book.floor) &ensp;</i> 
                        <i class="label_book">@Html.DisplayNameFor(model => model.Book.alley): &ensp; </i> 
                            <i class="info_book">@Html.DisplayFor(model => model.Book.alley) &ensp; </i>
                            <i class="label_book">@Html.DisplayNameFor(model => model.Book.rowNumber): &ensp; </i> 
                        <i class="info_book">@Html.DisplayFor(model => model.Book.rowNumber)</i>
                </div>
            }
        </div>
    </div>
    <div class="page-container-horizontal2">
        <div class="opinions">
            @{
                if (!Model.IsRatingAdded)
                {
                            <br />
                                <h3> Wystaw opinię na temat książki</h3>
                    <form method="post" asp-page-handler="AddOpinion">
                        <div class="your_opinion_column">
                            <div class="avg_opinion">
                                
                                @{
                                    if (Model.Book.ratingAVG != null)
                                    {
                                                <h3>Średnia ocena</h3>
                                                <div class="avg_opinion_inner_div mt-3">
                                                    <div class="avg_stars_div">
                                                        <span class="fa fa-star fa-2x avg_star"></span>
                                                        <span class="fa fa-star fa-2x avg_star"></span>
                                                        <span class="fa fa-star fa-2x avg_star"></span>
                                                        <span class="fa fa-star fa-2x avg_star"></span>
                                                        <span class="fa fa-star fa-2x avg_star"></span>
                                                    </div>
                                                    <div>
                                                        <span class="book_rating_avg">@Model.Book.ratingAVG / 5,00</span>
                                                    </div>
                                                    <p>Ilość opinii: @Model.Opinions.Count</p>
                                                </div>
                                    }
                                }
                            </div>
                            <div class="your_opinion_row">
                                <div class="your_opinion_stars">
                                    <h4>Twoja ocena</h4>
                                    <div class="stars_div">
                                        <span class="fa fa-star fa-3x add_opinion_star"></span>
                                        <span class="fa fa-star fa-3x add_opinion_star"></span>
                                        <span class="fa fa-star fa-3x add_opinion_star"></span>
                                        <span class="fa fa-star fa-3x add_opinion_star"></span>
                                        <span class="fa fa-star fa-3x add_opinion_star"></span>
                                    </div>
                                    <input type="hidden" name="bookId" asp-for="Book.bookId" />
                                    <input asp-for="User_Opinion.rating" class="form-control your_rating d-none" />
                                    <span asp-validation-for="User_Opinion.rating" class="text-danger"></span>
                                </div>
                                <div class="your_comment">
                                    <div>
                                        <label asp-for="User_Opinion.opinion" class="control-label"></label>
                                    </div>
                                    <textarea asp-for="User_Opinion.opinion" class="opinion_input form-control" placeholder="Opinia powinna zawierać nie więcej niż 500 znaków"></textarea>
                                    <span asp-validation-for="User_Opinion.opinion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mt-3">
                                        <input type="submit" value="Dodaj" class="red-button2" />
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <div class="opinion_is_added">
                        <div class="avg_opinion">
                            <h3>Średnia ocena</h3>
                            @{
                                if (Model.Book.ratingAVG == null)
                                {
                                            <p class="book_rating_avg">Brak ocen</p>
                                }
                                else
                                {
                                            <div class="avg_opinion_inner_div mt-3">
                                                <div class="avg_stars_div">
                                                    <span class="fa fa-star fa-2x avg_star"></span>
                                                    <span class="fa fa-star fa-2x avg_star"></span>
                                                    <span class="fa fa-star fa-2x avg_star"></span>
                                                    <span class="fa fa-star fa-2x avg_star"></span>
                                                    <span class="fa fa-star fa-2x avg_star"></span>
                                                </div>
                                                <div>
                                                    <span class="book_rating_avg">@Model.Book.ratingAVG</span><span class="book_rating_max"> / 5,00</span>
                                                </div>
                                                <p>Ilość opinii: @Model.Opinions.Count</p>
                                            </div>

                                }
                            }
                        </div>
                        @if (User.IsInRole("Reader") && !User.IsInRole("Employee"))
                        {
                                <h4>Dodałeś już opinię na temat tej książki!</h4>
                        }
                    </div>
                }
            }
            <div class="other_comments">
                @{
                    if (Model.Opinions.Any())
                    {
                        <h4> Pozostałe opinie:</h4>
                        <select id="sortOpinions">
                            <option value="opinionsDesc">Ocena (malejąco)</option>
                            <option value="opinionsAsc">Ocena (rosnąco)</option>
                            <option value="dateDesc" selected>Data dodania (od najnowszej)</option>
                            <option value="dateAsc">Data dodania (od najstarszej)</option>
                        </select>
                        <div id="opinions-container">
                            @foreach (var opinion in Model.Opinions)
                            {
                                                <div class="comment" style="background-color: white">
                                    @if (opinion.reader.email == User.Identity.Name)
                                    {
                                                <i class="fa-solid fa-circle-xmark delete_comment"></i>
                                    }
                                        <dialog class="delete_dialog">
                                            <form method="post" asp-page-handler="DeleteComment">
                                                <div>
                                                    <p>Czy napewno chcesz usunąć swoją opinię ?</p>
                                                    <input type="hidden" name="bookId" asp-for="Book.bookId" />
                                                    <input type="submit" value="Usuń" class="red-button2 delete_button_dialog" />
                                                    <input type="button" value="Anuluj" class="red-button2 cancel_button_dialog" />
                                                </div>
                                            </form>
                                        </dialog>
                                        <div class="comment_user" >
                                            <img src="~/images/user_photo.jpg" />
                                            <div>
                                                <p>@opinion.reader.FullName</p>
                                            @{
                                                        <div>
                                                            <span>Data dodania: </span>
                                                            <span class="added-date">@opinion.addedDate.Value.ToString("dd/MM/yyyy")</span>
                                                        </div>


                                            }
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                        <div>
                                            <span class="fa fa-star fa-2x opinion_star"></span>
                                            <span class="fa fa-star fa-2x opinion_star"></span>
                                            <span class="fa fa-star fa-2x opinion_star"></span>
                                            <span class="fa fa-star fa-2x opinion_star"></span>
                                            <span class="fa fa-star fa-2x opinion_star"></span>
                                            <p class="user_rating d-none">@opinion.rating</p>
                                        </div>
                                        <div class="user_opinion">
                                            <p>@opinion.opinion</p>
                                        </div>
                                    </div>
                            }
                        </div>

                    }
                }
            </div>
        </div>
    </div>
    @{
        if (TempData["Message"] != null)
        {
            <div class="notification_div">
                @if (TempData["Message"]?.ToString()?.Split("/")[0] == "Success")
                {
                    <div>
                        <i class="fa-solid fa-check success_notification_icon"></i>
                    </div>
                }
                else
                {
                    <div>
                        <i class="fa-solid fa-circle-exclamation error_notification_icon"></i>
                    </div>
                }
                <div class="notification-content">
                    @if (TempData["Message"]?.ToString()?.Split("/")[0] == "Success")
                    {
                        <p class="notification-header-success">Sukces!</p>
                    }
                    else
                    {
                        <p class="notification-header-error">Błąd!</p>
                    }
                    <p class="notification-message">@TempData["Message"]?.ToString()?.Split("/")[1]</p>
                </div>
                <div class="hide-notification">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
        }
    }
</article>

<script src="~/js/opinions.js"></script>
<script src="~/js/Books/AddBorrowingDialogRunner.js"></script>
<script src="~/js/Borrowing/Notification.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


